.lessons__main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 0;
  padding: 24px;
  height: calc(100vh - 45px);
  padding: 0;
}

.lessons__content {
  padding: 44px;
}

.lessons__flex {
  display: flex;
   align-items: center;
  justify-content: center;
}

.lessons__text {
  flex: 4;
  padding-right: 40px;
}

.lessons__image {
  flex: 3;
}

.lessons__image img {
  width: 100%;
}

