.sidebar {
  border-right: 1px solid #dddddd;
  padding: 40px;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__list li {
  margin-bottom: 12px;
}

.sidebar--active {
  color: var(--color-main);
  font-weight: 900;
}
