:root {
  --color-main: #ef2d56;
  --color-secondary: #2699fb;
  --color-text: #264653;
  --color-inactive: #dddddd;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vg;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif, -apple-system, BlinkMacSystemFont;
  font-size: 20px;
  color: var(--color-text);
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 22px 0;
}

h2 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 12px;
}

h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
}

p {
  margin-bottom: 22px;
  font-size: 20px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 45px 1fr;
  grid-template-columns: 1fr;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  /* stretch from first grid line to last grid line */
  grid-column: 1/-1;
}

main {
  padding: 0;
  overflow-y: auto;
}
