@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body {
  height: 100vg;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito Sans', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 18px;
}

h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 18px;
}

p {
  margin-bottom: 18px;
}

a {
  color: #000000;
  text-decoration: none;
}
